
/*
This css fila is used in forgetpassword.jsp page
*/
#topheader{
 margin-bottom: 10px; 
 padding: 10px;
}
h5{
color: #009999;  
}
.input-group-addon{
 background-color: #0d0d0d; 
 color:white;
}
#formJumbotron{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    position: relative;
    height: 100vh;
}
    


